[2019-10-15 13:04] lightsprint09 opened #2 "What is needed to support encoding"
Could I help you supporting Encodable?

[2019-10-18 11:20] dehesa commented on #2
Hi @lightsprint09  sorry for the delay answering (somehow I am not receiving notifications on this project).

Any help is welcome, so if you want to toil at it, I would be happy to review or help. Most of the architecture for `Encodable` is there and it should be fairly similar to `Decodable` (which is currently working). To be honest I don't remember what it is missing (since it has been some tim

[2019-10-18 15:31] lightsprint09 commented on #2
Sounds good. Would you mind if I set up Travis CI?

[2019-10-18 16:29] dehesa commented on #2
That sounds interesting. I have never done it myself in an OpenSource project from Github. As far as I understand it is a CI system to run your test on every commit. But what will it actually entail? Do we have to keep a specific Git structure, who has access to its configuration?, etc.

[2019-10-21 10:05] dehesa commented on #2
@lightsprint09 I managed to take a look at the state of the code this weekend and the major problem with the `Encodable` adoption is the "random access" encoding that the user might decide to do while using `encode(to:)`.

In simple words:
- The `Codable` support is based in the underlying `CSVReader`/`CSVWriter`.
- The `CSVReader`/`CSVWriter` are sequential and are based on streams (currently onl

[2019-10-21 10:17] lightsprint09 commented on #2
How is it possible to Writer further ahead? Using the same stream

[2019-10-21 10:23] dehesa commented on #2
Well, it is not yet implemented, but I suppose that if the user decide to write in row 10 and they are currently in row 5; the `CSVWriter` would write 4 row delimiters and then start writing whatever the user inputs.

Writing empty rows is actually quite common in CSV files.

[2019-10-21 10:59] lightsprint09 commented on #2
[code]

How would I define where top write. I would expect to write at the end of there stream?

[2019-10-21 12:22] dehesa commented on #2
`OutputStream` is just a *dumb* pipeline that only "transmits" the bytes you are sending. Therefore, you can only write sequentially through its `write(_ buffer: UnsafePointer<UInt8>, maxLength len: Int)` function.

`Encodable`, however, offers a way to randomly-access where to write through their `KeyedEncodingContainer` (it is similar to a dictionary where you pass a `CodingKey` specifying where

[2019-10-21 12:35] lightsprint09 commented on #2
Ok. I see.

Seems like I don't understand the Codable implementation correctly.

Can you show me an example how one would implement `Encodable` so it would be problematic?

[2019-10-21 13:07] dehesa commented on #2
Don't despair, the `Codable` internal behavior takes some time to get used to :D Let me give you several examples:

## Compiler Generation Example
Let's suppose you have a CSV file listing students in a school. Each row is a student and the columns are: `name`, `age`, `hasPet`. The simple `Encodable` definition would be:
[code]

Then you can simple use the `CSVEncoder` as so:
[code]

### Generated

[2019-10-21 13:20] dehesa commented on #2
The previous example was the simple/naive one. Let's suppose the framework user is savvy on the `Codable` ways. In which case, she can define things more tightly.

## Unkeyed Fields Example
Lets have the same `Student` listing as the previous example, but now lets write our own `Encodable` conformance.
[code]

In this example, we achieve the best performance since we are creating a sequential cont

[2019-10-21 13:20] lightsprint09 commented on #2
Would it be fine to get a cdv with random order when not setting the headers?

[2019-10-21 13:27] dehesa commented on #2
Yes and no. In CSV files, the column order implies meaning, therefore the user must know exactly the order of the generated outcome. It cannot be "execution magic". Also, the order must be consistent between several `Student` encoding.

That is however not the major problem, I believe we can find an "easy solution" for that.

[2019-10-21 13:46] dehesa commented on #2
## Unordered Rows Example
Lets suppose a similar case (same students listing), but now the row positions have meanings. Lets say:
[code]

The compiler generated code will start encoding on `heidrun`, although the first row should be `alexander`. Here lays one of the major problems. For correct implementation, we would need to cache the whole CSV file and only write it on the `OutputStream` when we

[2020-01-19 16:18] eppz opened #5 "Can't`pod install` for macOS 10.15"
It is just that.

CocoaPods says:
[code]

Is there any specific reason for that?
Could you perhaps update the podspec?

[2020-01-20 09:17] dehesa commented on #5
Hi @eppz,

Thank you for bringing the issue to me. I am not a CocoaPods user, though (this was a contribution from @davbeck). Feel free to send a pull request changing whatever is wrong with the podspec. Skimming the [CocoaPods documentation](https://guides.cocoapods.org/syntax/podspec.html#deployment_target), I have failed to figure out what is wrong.

[2020-01-28 15:11] emma-k-alexandra opened #8 "Question: What's more efficient about supplying init(from:)?"
From the README:

What makes this implementation more efficient than the implementation listed above it?

Are there benchmarks to show the implementation with `init(from:)` is more efficient? Should I implement all of my `Codable` structures with a manual `init(from:)`?

[2020-01-28 16:35] dehesa commented on #8
Hi @emma-k-alexandra,

Using [`unkeyedContainer()`](https://github.com/dehesa/CodableCSV/blob/master/Sources/Codable/Decodable/ShadowDecoder.swift#L49) instead of [keyed containers](https://github.com/dehesa/CodableCSV/blob/master/Sources/Codable/Decodable/ShadowDecoder.swift#L61) has two main benefits (relating to performance):
- Fields are iterated in the order they are decoded and therefore the

[2020-01-29 06:13] #8 closed

[2020-03-05 12:21] MhdHejazi opened #10 "Memory leaks"
After decoding the CSV file I noticed that many objects created by the decoder are still in memory. After a quick look, it looks like there is a retain cycle here that causes a memory leak:
[code]
I think one of those references needs to be weak to break this cycle.

[2020-03-05 23:54] dehesa commented on #10
Hi @MhdHejazi,

Thanks for bringing this to my attention. I will try to replicate and to fix it. I will let you know once I do.

[2020-03-10 14:52] dehesa commented on #10
Hey again @MhdHejazi,

I believe I have resolved the memory leak problems with the new release. It will help me if you could take a look at it and run the new release on your data.

Thank you for reporting.

[2020-03-10 14:59] dehesa commented on #2
Hi @lightsprint09,

Just as a heads-up, I have reimplemented the `Decodable` part of the library making it much simpler, using small value types across the board, and building the buffering infrastructure.

I will probably write the `Encodable` system in the following two months, but if you ever wanted to challenge yourself and try a `Codable` implementation; now would be a good time 😄

Cheers

[2020-03-10 14:59] #5 closed

[2020-03-11 07:58] MhdHejazi opened #11 "Support for iOS 10"
I needed to support iOS 10 in my app but the library only supports iOS >= 12. So, I had to replace the library.

But I was curious to know why the library requires iOS 12. So I added the source code directly to a test project that targets iOS 10, and it builds successfully!

It looks like the library actually supports iOS 10 as it is now and no need for extra work. I suggest changing the requireme

[2020-03-11 08:00] MhdHejazi commented on #10
I actually had to replace the library (see #11). But I tested the new version now and can confirm the issue is resolved.

[2020-03-11 08:00] #10 closed

[2020-03-11 08:26] lightsprint09 commented on #2
Hey @dehesa,

sounds awesome. I will have a look

[2020-03-11 09:35] dehesa commented on #10
Great, thank you @MhdHejazi

[2020-03-11 10:45] dehesa commented on #11
There isn't a reason for the iOS 12 limit. It was just what I needed to support at the time.

I went ahead and make a thorough check of the library's dependencies. CodableCSV minimally use Foundation; specifically it requires: `CharacterSet`, `Data`, `Date`, `DateFormatter`, `Decimal`, `OutputStream`, and `URL`. Technically I could set the limit at iOS 7, macOS 10.9, tvOS 9, and watchOS 2 😄

Anywa

[2020-03-11 10:48] MhdHejazi commented on #11
Great! 😄

[2020-03-11 10:48] #11 closed

[2020-03-11 11:02] dehesa commented on #11
By the way @MhdHejazi, good work on the [CoronaTracker app](https://github.com/MhdHejazi/CoronaTracker), I just downloaded and I am digging it. I am sad CodableCSV couldn't be your CSV library of choice 😅

[2020-03-11 11:23] MhdHejazi commented on #11
Thanks! Glad you like it 😄

It was actually my library of choice and mentioned that in the repo. But had to replace it to support iOS 10 as I said. And also because it doesn't detect the line delimiter automatically. There is an option for that (`.unknown`) but not implemented yet.

[2020-03-11 11:41] dehesa commented on #11
Yeah, that is in my todo 🗒 list. Does [CSV.swift](https://github.com/yaslab/CSV.swift) have the header inferral functionality? As far as I got, that library only provides the option to say whether the CSV has a header or not.

In any case, once I finish with the `Encoder` implementation, I will iron out all the missing behavior. I have some things in the pipeline that are pretty sweet 😊

[2020-03-11 12:17] MhdHejazi commented on #11
I was talking about the line delimiter. Not sure about inferring the header. But I think inferring the line delimiter is more important as it's more likely to be messed up, and when that happens you find yourself dealing with things like `"12\r"` instead of numbers.

[2020-03-11 15:01] dehesa commented on #11
Oh right, sorry I misread. Yes, I agree. I will bump the priority of the line delimiter inference in my todo list.

Thank you for your input and comments.

[2020-03-11 18:21] wavefront opened #12 "Memory leak"
I have a large csv file (> 400,000 lines) which is too big to decode in one blob, so I loop through each line of the file by calling readLine(), and then for each line:

convert the line to Data
let obj = try decoder.decode([Obj].self, from: data).first

It seems that if you call decoder.decode repeatedly that it leaks memory. It looks like the allocation of Buffer() from the initialiser of CSVRea

[2020-03-11 18:43] wavefront commented on #12
Sorry, looks like this was reported and fixed only a day ago. Closing and I'll verify

[2020-03-11 18:43] #12 closed

[2020-03-11 18:43] wavefront commented on #12
Sorry, looks like this was reported and fixed only a day ago. Closing and I'll verify

[2020-03-11 19:24] dehesa commented on #12
Hi @wavefront,

Thank you for reporting. The problem was indeed filed and it has been fixed (under the best of my knowledge). I will strongly suggest you to upgrade to version 0.4.1 (or later, depending on when you read this).

The decoder implementation has been reworked to use small-size value types and not depend on protocols (as previously) which should improve performance and, at the same tim

[2020-03-11 19:35] dehesa commented on #12
Oh, that is annoying. There is actually an easy solution for that: adding a `decode(_ type:from:encoding:)` function to `CSVDecoder` that accepts a file handle instead of a data blob (as it is now). The function would transform the file handle into an `OutputStream` and only request lines on-demand. That way it wouldn't have to load the whole file in memory.

I had the task already in my TODO list

[2020-03-12 10:26] wavefront commented on #12
Sure thing. Happy to help. Its not super urgent for me since I need to keep the readline() approach [To fix up badly formatted csv before submitting to DecodableCSV]. Let me know when something ready to test.

[2020-03-29 22:27] dehesa commented on #2
Alright, I am happy to announce that after some hard laboring, I have the first encodable implementation. It still needs polishing and support for other buffering strategy, but it currently works 😄

You can find it in the `develop` branch if you are still interested. It will take me a bit more time to land it in master, though.

[2020-03-29 22:27] #2 closed

[2020-03-31 18:59] dehesa commented on #11
Hey @mhdhejazi I just finished a big upgrade to CodableCSV and I was thinking on tackling the line delimiter inference you mentioned previously next.

Last time I got the impression from your comments that CSV.swift did that, but I haven't been able to find it anywhere in their codebase. Do you have any pointers or do you know anybody that does something similar?

[2020-03-31 19:05] mhdhejazi commented on #11
I guess this is how CSV.swift deals with line delimiters:
https://github.com/yaslab/CSV.swift/blob/81d2874c51db364d7e1d71b0d99018a294c87ac1/Sources/CSV/CSVReader.swift#L290-L298

[2020-03-31 19:15] dehesa commented on #11
Yeah, that is only checking for hardcoded line delimiters: `\r`, `n` or the EOF, but it is not trying to figure out what the line delimiter is, which is the functionality I would love to include. In any case, thank you 👍

By the way, if you have some free time, do give another try to CodableCSV. Performance is better, now it supports files, and it can load huge files only partially as it is needed

[2020-03-31 19:42] mhdhejazi commented on #11
Well, according to [the standard](https://tools.ietf.org/html/rfc4180), line breaks (`\r`, `\n`) should be considered line delimiters unless they are enclosed in double-quotes

[code]

So, I think detecting the line delimiters for the whole file isn't that important (nor feasible for large files). Doing line by line processing is totally fine, and I don't think you have to worry about mistakenly d

[2020-03-31 19:59] dehesa commented on #11
Definitely, the problem is that many CSVs out there don't really follow the standard. But for most cases is definitely the best.

[2020-03-31 20:04] mhdhejazi commented on #11
I totally agree. And the same goes for using a consistent line delimiter throughout the file 😉

[2020-04-01 21:21] josh opened #15 "Decodable sequence"
Hey @dehesa!

I think I was too slow, it looks like you already implemented the `sequential` buffering strategy for 0.5.2. I was taking some time to learn about the Decoder protocol internals.

What I learned is that it's possible to decode an `UnkeyedDecodingContainer` into any sequence without buffering. `ShadowDecoder.UnkeyedContainer` seems to do a good job of iteratively decoding each item.

[2020-04-02 08:23] dehesa commented on #15
Hi @josh,

Yeah, last week was pretty productive 😄 I didn't manage to do everything I wanted (the `.unrequested` decoding buffering strategy is still missing), but I succeeded on having full Codable adoption, which makes me very happy.

Referring to your idea:
1. I quite like it.

   Having a counterpart to `CSVReader.readRow()` on the decoder seems to be worth while. It would help parsing huge fi

[2020-04-02 14:15] itaiferber commented on #15
I haven't gotten a chance to look at any of this decoder work at all, so take my comments with a grain of salt, but two small notes:

1. In general, it is not safe to hold on to a decoding container outside of the scope of an `init(from:)` call:

[code]

   Decoders may rely on the fact that once an `init(from:)` has returned, all container references are no longer valid. Attempting to decode from

[2020-04-02 19:24] dehesa commented on #15
Hi @itaiferber, thank you for pitching in here. I completely agree with all the points you've raised. My doubt hangs more over my point 4. Let me rephrase it:

For a lazily sequence decoder, as the one you have described:
[code]

How could we iterate through its elements when the operation may throw at any point? We would like to keep the `Sequence` syntax and benefit from all the `Sequence` exten

[2020-04-02 22:26] josh commented on #15
Exposing something like `decodeSequence` would be great. The only reason I'm using this work around is the exposed public decoding APIs provide the ability to decode a single row. The `DecodableSequence` is just a hack to get a handle on that internal shadow decoder's container.

[2020-04-03 14:52] itaiferber commented on #15
@dehesa Good point, I wasn't thinking about that.

I was going to write the following:

But the more I think about it, the more `Sequence` conformance feels somewhat limiting in this case. It feels very easy to accidentally end up in an infinite loop if you're not paying attention:

[code]

Alternatively, if you do want to `dropFirst()` correctly, you can't easily use `for-in` syntax because `drop

[2020-04-03 22:13] dehesa commented on #15
Ohh, I like the last idea you mentioned. Thank you @itaiferber (and congratulations for coming up with the amazing Codable interface) 😉

What do you say, @josh? Are you still up for giving it a go with all the information gathered?

By the way @itaiferber, if you find yourself with a bit of time and you end up checking the library. I will be very happy to receive any comment/criticism that you may

[2020-04-05 21:02] josh commented on #15
@dehesa yeah, I'd like to give it a try. How does this interface look?

[code]

[2020-04-06 09:05] dehesa commented on #15
If I understand correctly, @josh's proposed API will look as follows on regular usage:
[code]

I would suggest the following changes:
1. Let's use the `lazy` moniker as in the Swift Standard Library.

   We are actually providing that kind of functionality. I believe it is pretty descriptive.

2. Don't force the outcome type to be passed at the sequence level, but at the row decoding level.

   Th

[2020-04-06 09:40] dehesa commented on #15
Now, on an implementation perspective. There are some challenges that you will face:

- Most users will likely write the code as we intended. However it is technically possible to do the following:

[code]

  Meaning, the second row is actually decoded before the first. What happens if `studentA` contains an error (whether a problem in the underlying string encoding, or the user mistype an escapin

[2020-04-10 16:31] #15 closed

[2020-04-10 17:21] roydaw opened #17 "Encoding a struct with a nil value results in an infinite loop."
## Describe the bug
Encoding a struct with a nil value results in an infinite loop.

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behavior
I'm actually not sure how a nil value is represented in CSV but I think you just put nothing in between the two commas. In any case, this should at least throw an error instead of entering into an infinite loop.

## System (please comple

[2020-04-10 20:21] dehesa commented on #17
Hi @roydaw thank you for reporting and sorry for the inconvenience.. I will get to it right away.

The encoding behavior of `nil` cases is controlled by the `nilStrategy` configuration value. By default is `.empty` which won't write anything. You can however pass a `.custom(...)` configuration value and write whatever you want.

[2020-04-10 21:39] #17 closed

[2020-04-10 21:41] dehesa commented on #17
I have fixed the issue and added some tests to verify the behavior.

Thank you!

[2020-04-18 21:16] noahemmet opened #18 "Handling CSV file with empty line after header"
Hi! I'm looking for the correct configuration to handle a CSV file that has an empty line after the header, like so:
[code]
The callsite looks like this:
[code]

I've used various combinations of `delimiters.row = "\n"`, `escapingStrategy = "\n"`, and `trimStrategry = .whitespaces`, but the decoder either throws an error or returns an empty array. Is there a way to ignore empty lines?

## System (

[2020-04-19 06:53] dehesa commented on #18
Hi @noahemmet,

There are currently no configuration values for non-standard header rows, such as your case or multi-line headers. However, I have been able to decode your sample file _as intended_ performing the following steps:
1. Update to the latest CodableCSV.
   Version 0.5.4 introduces _lazy_ decoding, which we will use to solve your problem. To update to the latest version modify the SPM `

[2020-04-19 19:16] noahemmet commented on #18
Ah thank you for your detailed reply, the lazy sequencing did it!

[2020-04-19 19:16] #18 closed

[2020-05-30 06:46] leisurehound opened #20 "Is encoding Double or Float supported?"
When I change the floatStrategy as .convert I get an fatal error in this code:

[code]

So with either strategy I either get the thrown error or a fatal error if a valid Double is attempted to be encoded.  Is this expected or is there another configuration I'm missing?

Similarly, when I try to decode a double, I get an error thrown, but when I decode it as a string and convert the string to a dou

[2020-05-30 08:06] dehesa commented on #20
Hi @leisurehound

It seems I introduced a bug encoding/decoding `Double`s and `Float`s in one of the last releases and my tests were only covering integer numbers (and not floating-point ones).

It is an easy fix. I will have a patch ready in a couple of hours. Thank you for reporting.

[2020-05-30 10:32] dehesa commented on #20
I have fixed the floating-point problem and added some tests to check correct behavior. The fixes can be found in the [develop branch](https://github.com/dehesa/CodableCSV/tree/develop).

Please, give it a try and if it solves your problems, I will promote the fix to master and release a new patch version.

[2020-05-30 10:49] dehesa commented on #20
Oh, and I forgot to mention that I have renamed `floatStrategy` to `nonConformingFloatStrategy`. This way, it makes it more clear that the encoding/decoding strategy only gives the option to modify non conforming floating-point values (i.e. infinity, NaN).

[2020-05-30 17:10] leisurehound commented on #20
Thanks @dehesa.

The following statement now works:

`duration = try container.decode(Double.self)`

but the following does not:

`duration = try container.decodeIfPresent(Double.self)`

[2020-05-30 17:19] dehesa commented on #20
Uhm, ok. That is interesting. Could you provide a small example with the behavior you are expecting, such as the one I have in [the tests](https://github.com/dehesa/CodableCSV/blob/develop/tests/CodableTests/CodableFloatingPointTests.swift#L20). It will help me out debugging.

[2020-05-30 18:08] leisurehound commented on #20
Sorry, am not sure if my Codable experience allows me to replicate without the container that I'm using within the init(from: Decoder).

I'm trying to decode an enum property in the parent struct (see below) by decoding each field individually.  I'd really like to be able to decode the Codable enum like I can with JSON, but the new container index seems to get mixed up and always fails.

I'm essen

[2020-05-30 19:40] dehesa commented on #20
Alright. Let me take a look at it. I have a further question, though. Is the CSV schema closed? I mean, is that row definition final? `<datestring>,<float>,` and `<datestring>,<empty>,failure` or would you be open to define it in another way? e.g. `<datestring>,<optionalFloat>`

[2020-05-30 20:21] leisurehound commented on #20
For this simple problem then yes, that's doable. I'm basically working on a dummy project to learn some aspects of SwiftUI plotting, Combine and Coding CSV values.

The real project I plan to use all this on, however, is managing an assortment time series that are sampled at various frequencies.  So column positions are important to determine if there is datum at any particular sample time.  CSV i

[2020-05-30 20:39] dehesa commented on #20
I fixed a small behavior on `decodeNil`, which is specified in the documentation, but I didn't account for; i.e. if `nil` is encountered, then +1, must be added to the index; but if not, it should not. With this fix, now `decodeIfPresent` should work as intended.

For your specific problem, you actually have several solutions (be sure to download the latest from develop branch):

- Changing row de

[2020-05-30 20:41] dehesa commented on #20
Let me know if that works for you and then I will upstream the patch to master. Again, thank you for reporting.

[2020-05-31 00:28] leisurehound commented on #20
Yes, I can decodeIfPresent() successfully now.

One last question, I encodeRow() one result at a time (because they're a live time series) thus am using lazy.  After each encoding I endEncoding() and then write the data to outputStream.writeBytes().  I've learned that I have to re-create a new encoder after I've endEncoding() on the next live time series datum.  Is there a manner in which I can re

[2020-05-31 06:51] dehesa commented on #20
That is not ideal. Creating a new encoder is not "very expensive", but you are creating and deallocating `OutputStream`s for each row (which is not the intended usage).

Why don't you just store the lazy encoder somewhere (it is a reference type) and reuse when a new row arrives?

[code]

[2020-05-31 07:21] leisurehound commented on #20
I did try to store the encoder as a class property, but endEncoding on each datum so the file is tail-able, for example.  This caused the next datum encoding to fail.  For a long running process with a live feed, the data persistence is paramount, so I keep my output stream tied to a file open and continuously append to it, and then close the output stream on deinit, which could be never (or at se

[2020-05-31 08:49] dehesa commented on #20
If I understood everything correctly, I believe you have three options to satisfy your requirements.
1. Create a lazy encoder with `.sequential` buffering strategy.

   Store the lazy encoder and call `encodeRow(customType)`. The sequential buffering strategy only keeps in memory the last row to be written. Therefore, when a new row arrives, it writes the previous row. That wouldn't do what you wa

[2020-05-31 16:49] leisurehound commented on #20
ok, thanks the details and the help here.  Those details were not gleamed from your readme page when I first attempted to integrate the library.  I may send you a PR for the README to expand on usage so its easier for first time users who may be new to CSV coding; what's there now seems to have some unstated assumptions/knowledge that I certainly didn't have.  I'll admit, I had to trap errors to f

[2020-05-31 20:22] dehesa commented on #20
I agree there might be some assumptions in the README about how to use the library. I have spent so much time on it that some knowledge is second nature to me. I would be delighted if you send PRs my way; having a different view on how to express things is always valuable.

I will close this issue now, but feel free to open new ones if you have any more questions or you would like to improve somet

[2020-05-31 20:22] #20 closed

[2020-06-01 05:30] leisurehound opened #21 "CSVEncoder.lazy<URL> should support an appending strategy"
## Is your feature request related to a problem?
Sorry if this is available already, but couldn't find it in sources except in CSVWriter, but not CSVEncoder or in README.

## Describe the solution you'd like
Simply, for a live time series serialization would want to append new data to the URL instead of overwrite it with a bufferingStrategy of sequential (but can also see where users wouldn't want

[2020-06-01 07:06] dehesa commented on #21
Hi @leisurehound

I am not sure I understand. Is the [`CSVEncoder.lazy(into:append:)`](https://github.com/dehesa/CodableCSV/blob/master/sources/declarative/encodable/Encoder.swift#L60) function already what you need?

[2020-06-01 07:11] leisurehound commented on #21
Yes, it does.  Sorry for the noise.  Not sure why I couldn't find that as an optional parameter.

[2020-06-01 07:11] #21 closed

[2020-06-01 07:46] dehesa commented on #21
No worries, @leisurehound.

Please notice that the appending functionality currently has some shortcomings (as stated in the [bugs project](https://github.com/dehesa/CodableCSV/projects/2)). It behaves as a "dumb" byte appender. That is:
- It doesn't perform any sanity check whether the file receiving the data has the same encoding as the one specified in the encoder settings.
- It doesn't check w

[2020-06-01 16:11] leisurehound commented on #21
Thanks Marcos.

issue 1&2 are fine and if I'm writing differently to the same file I'd consider that my bug.  I am experiencing #3, even tho in deinit I endEncoding() on all encoders.  Its not a major issue as it only seems to occur when starting/stopping the app during the development iteration/cycle, but would be nice to prevent it.  Is there a better strategy?

[2020-06-01 16:47] dehesa commented on #21
This should be something that the encoder manage for you. Alas, I haven't had time to improve the appending behavior, yet. Furthermore, I don't believe I will have time to work on it in the next 2 to 3 weeks. Sorry, I am pretty swamp now.

In the meantime, you can write a small file checker to validate whether the last character/s are a row delimiter. It shouldn't be a lot of work, but it is annoy

[2020-06-01 23:08] leisurehound commented on #21
Thanks again Marcos.  Intuitively I would think encodeRow() would also write thee row delimiter but perhaps there are other reasons you don't do that.  I have however learned how to trap signals with Swift to ensure endEncoding() is called before abended shutdown. Yay!

[2020-06-02 09:41] dehesa commented on #21
That is a good idea, @leisurehound.

Writing or not the row delimiter depends on the usage of Codable keyed and unkeyed container. Basically, Codable provides the user the freedom to write out-of-order with keyed containers, which forces the encoder to buffer data till it is sure the row is completed.

If you are using unkeyed containers everywhere and you  have set the buffering strategy to `.seq

[2020-06-16 11:40] babbage opened #22 "How to omit properties from the CSV file"
## Question
How do I configure CodableCSV to omit selected properties from the object when creating the CSV file.

## Additional Context
Model objects contain fields that are Codable but which I do not wish to have included in the CSV file. I have not located a method in this package that enables me to do this, though perhaps it would simply omit any properties for which there was no matching labe

[2020-06-16 13:29] dehesa commented on #22
I am no sure I get what you mean. Could you provide a tiny example, please?

[2020-06-16 18:31] babbage commented on #22
My object stores the result of a web form submission. It contains an ID property which is a UIID and the IP address of the submitter. I want to export the data in other properties as a CSV file, such as name,   department, email so it can be downloaded by an admin user. However, they do not want the UIIDs in their file (clutter) and should not get the IP address.

Rather than having to create an i

[2020-06-16 18:32] babbage commented on #22
My object stores the result of a web form submission. It contains an ID property which is a UUID and the IP address of the submitter. I want to export the data in other properties as a CSV file, such as name,   department, email so it can be downloaded by an admin user. However, they do not want the UUIDs in their file (clutter) and should not get the IP address.

Rather than having to create an i

[2020-06-16 22:26] dehesa commented on #22
Oh, I see. You have several ways to solve your problem. Let's suppose your web form submission is modeled as follows:
[code]

The `id` and `address` are to be ignored by a Codable encoder and `name`, `department`, and `email` shall be encoded.
- Option 1: Provide a `CodingKeys` enum only specifying the exact property names you want to encode.
[code]

  Then use the encoder as usual.
[code]

- Opti

[2020-06-17 02:11] babbage commented on #22
Hi Marcos,
That's extremely helpful—and now you've written it would make a great addition to your readme file on the repo! :)

I was previously looking for a point of customisation within CodableCSV—to define fields to pass over while writing the CSV file, without resorting to implementing your field-by-field write controls—rather than redefining the Codable process itself.

In this case, the data

[2020-06-17 02:11] #22 closed

[2020-06-24 09:01] xsleonard opened #23 "Cocoapods installation is not possible"
## Describe the bug
A clear and concise description of what the bug is.

The pod name "CodableCSV" is occupied by a different project with the same name as this one: https://github.com/pauljohanneskraft/CodableCSV.

Following the pod install instructions for this repo will fail.

The error message from pod is:

[code]

Performing a `pod search CodableCSV`:

[code]

## To Reproduce
Steps to reprodu

[2020-06-25 12:44] xsleonard opened #24 "Typo: trimStrategry should be trimStrategy"
`Configuration.trimStrategry` should be `Configuration. trimStrategy`

[2020-06-25 13:45] dehesa commented on #24
Hi @xsleonard

You are very right! Thanks for letting me know. It will be fixed in the next minor update.

[2020-06-25 13:47] #24 closed

[2020-06-25 13:54] dehesa commented on #23
Hi @xsleonard

The Cocoapods support was added by a contributor sometime ago. I am not a Cocoapods user and I can't test the correct behavior since I don't have any Cocoapods projects. I will be happy the perform the required changes to make it work, but I need some detailed indications.

[2020-07-14 22:03] marcblanchet opened #25 "Make it conform to TopLevelDecoder/Encoder to use with Combine"
## Is your feature request related to a problem?
With the new Combine framework, one can chain the CSVDecoder.

## Describe the solution you'd like
conform to protocol TopLevelDecoder/Encoder

## Describe alternatives you've considered

## Additional context
see examples from other Codable Frameworks such as XMLCoder and YAMS.

[2020-07-15 07:47] dehesa commented on #25
Hi @marcblanchet,

I believe that is already implemented, you can find the `CSVDecoder` implementation of `TopLevelDecoder` [here](https://github.com/dehesa/CodableCSV/blob/master/sources/declarative/decodable/Decoder.swift#L103) and the `CSVEncoder` implementation to `TopLevelEncoder` [here](https://github.com/dehesa/CodableCSV/blob/master/sources/declarative/encodable/Encoder.swift#L101).

Is th

[2020-07-20 10:55] lienbacher commented on #23
I just tried installing via pods and faced the same issue, this link might help, but i honestly have very little clue: https://guides.cocoapods.org/making/specs-and-specs-repo.html#how-do-i-update-an-existing-pod
currently running SwiftCSV, and it takes hours to parse a 40mb csv file, hoping your project will do better.

[2020-07-20 15:51] dehesa commented on #23
Hi @lienbacher

I was hoping someone who uses Cocoapods would jump up and help out, but it seems I will have to get to know Cocoapods. I will try to fix the problems this week.

Addressing your performance remarks: I haven't compared Codable CSV against any other CSV library out there yet, but I am using it daily with files that weight between 200 & 500 MB and I measure in seconds (sometimes minut

[2020-07-20 16:53] dehesa commented on #25
I am going to assume that that was what you needed and close this issue 😅 Feel free to reopen it, otherwise.

[2020-07-20 16:53] #25 closed

[2020-09-07 05:55] GoldenJoe opened #27 "Encoding a single object produces a confusing error message."
When trying to encode a single object, the following error occurs:

[code]

It works fine as long as the object is wrapped in an array, however. Browsing the source for a few minutes didn't make it clear to me why this is the case.

[2020-09-07 10:54] dehesa commented on #27
Hi @GoldenJoe,

I am not sure to which level you drilled down in the code, so I will give you two explanations of why you are seeing that error:

- Higher level explanation.

  A CSV is semantically a list of rows. If the CSV is comprised of a single row, it is still a list of rows. The coding path let the framework figure out at which level to encode. A coding path of `[3]` is pointing to the thi

[2020-09-13 08:39] dehesa commented on #27
I am going to assume that that was what you needed and close this issue 😅 Feel free to reopen it, otherwise.

[2020-09-13 08:39] #27 closed

[2020-10-02 21:10] kimball commented on #23
For anyone who may be unaware, until the collision can be resolved you can use this in your `Podfile`

`pod 'CodableCSV', :git => 'https://github.com/dehesa/CodableCSV.git', :commit => '<#commit SHA#>'`

where `<#commit SHA#>` is the git SHA of the release you want to use. You will just need to update it manually if you want to use a new release.

[2021-01-17 18:20] dehesa commented on #23
I managed to tracked down the owner of the pod colliding with `CodableCSV` and he was nice enough to transfer me ownership. Props for his readiness!

I push the 0.6.5 version to Cocoapods trunk. Now it should work without problems. Please keep in mind that this is the first version in Cocoapods; therefore, you can now ask Cocoapods for versions with lower numbers.

Please, let me know if there is

[2021-01-17 18:21] #23 closed

[2021-02-01 10:07] xsleonard opened #33 "Lazy decoding a CSV with CRLF line endings fails without an error"
## Describe the bug
A clear and concise description of what the bug is.

Using using CSVDecoder.Lazy() on a CSV file with CRLF line endings, and the delimiter is not configured to be CRLF (the default is only `'\n'`), decoding rows will silently fail.

## To Reproduce
Steps to reproduce the behavior:
1. Create entity '...'
2. Perform action '....'

## Expected behavior

Either throw an error when

[2021-02-01 11:38] dehesa commented on #33
Hey @xsleonard,

Thanks for reaching out. I am not in front of the computer screen right now. I'll try it out once I'm back home. However, I'm not exactly sure I understand what the problem is. Which one of the following is the problem?
1. The default line ending is `\n`, but you expect it to be `\r\n`?
2. You expects both `\n` and `\r\n` to be recognized as line ends by default?
3. The default be

[2021-02-01 17:07] dehesa commented on #33
Alright, I've been re-reading what you wrote and building some sample code.

Delimiters (whether field or row) are currently only implemented as single `String` values (actually `UnicodeScalasView`s). This means, there are currently no way to support multiple row delimiters (such `\r\n` and `\n`). I see the value of that and implementing it is not a lot of effort; however there is a small performa

[2021-02-01 18:10] xsleonard commented on #33
Yes, thank you.

[2021-02-02 09:55] #33 closed

[2021-03-13 09:59] DressTheMonkey opened #34 "Extra comma in header or data line causes failure to parse subsequent lines"
## Describe the bug
Having an extra comma in a data line (which is usually caused by the CSV creator failing to quote a field) causes that line and all subsequent lines to fail to parse.  Having an extra comma at the end of the header line causes all subsequent data lines to fail to parse.

## To Reproduce

Please see the attached test file (it is really a .swift file, but I changed the extension

[2021-03-13 12:35] dehesa commented on #34
Hi @DressTheMonkey,

Indeed, there seems to be an issue there. I will try to see what the problem is, but thank you for the tests. They are very helpful to replicate the problem.

[2021-03-13 13:54] dehesa commented on #34
Hey @DressTheMonkey. I fixed the issue and added your tests in the test suite. The changes are in `develop` and as soon as you can check them out and give me the "thumbs up", I will merge to master and make a minor release.

I would appreciate if you can test it out with your data.

[2021-03-13 21:01] DressTheMonkey commented on #34
That definitely does catch and report those two problems I was having.  That's brilliant.

However, it will have to be up to you if it is a thumbs up or not, because this has actually introduced a minor problem!  One of my files ends with a line followed by a new line.  This is now reported as an error:

[CSVReader] Invalid input
	Reason: The number of fields is not constant between rows.
	Help: M

[2021-03-14 06:29] dehesa commented on #34
That should definitely be allowed since it is not only in the RFC, but it is also very common. I will try to figure out how to "add back" that functionality. Fixing your bug had the side-effect of making the library more strict.

Good catch, anyways. This problem highlights the need for more tests.

[2021-03-14 16:26] dehesa commented on #34
Alright @DressTheMonkey I have added the functionality to ignore empty rows and I've added a test to verify the behavior. Could you please check it out with your data again? If it works well and you have no further requirements :) I will make a new minor release.

[2021-03-14 17:58] DressTheMonkey commented on #34
👍That has fixed it.  New tests are looking good.  That really meets and exceeds all my requirements :), so I'm going to close this.  Thanks so much for the great code and the swift updates.

[2021-03-14 17:58] #34 closed

[2021-03-20 12:45] xsleonard opened #35 "Decoding CSV file with CRLF line endings fail with error if the last column is quoted"
## Describe the bug
A clear and concise description of what the bug is.

Decoding a CSV file with CRLF line endings fails with an error, if the last field in a row is quoted.

The error:
[code]

## To Reproduce
Steps to reproduce the behavior:

Using a CSV file with CRLF line endings (`url`), decode with this:

[code]

## Expected behavior

No error

## System
 - CodableCSV: 0.6.6

[2021-03-20 14:02] dehesa commented on #35
Hi @xsleonard, I am out for the weekend so I don't think I will manage to solve this till Tuesday. Your bug description seems clear and I believe I understand the problem, but I would appreciate if you could provide a CSV with two or three rows (of dummy data) triggering the problem. That way I can even include it as a test so it doesn't happen again.

[2021-03-20 15:01] xsleonard commented on #35
Ok, I'll look into more on Monday as well.
The attached file is the simplest case with a header (1 column) so its easier to step through in debugging.
It has a .txt extension because .csv extensions are blocked for upload here, you can rename it as .csv.
[csv-crlf.txt](https://github.com/dehesa/CodableCSV/files/6175820/csv-crlf.txt)

[2021-03-21 02:21] xsleonard commented on #35
Using a trimStrategy of `["\r"]` avoids a crash (`CharacterSet.whitespaces.union(["\r"])` in my case).

A more intuitive solution would accept multicharacter Delimiter.Row (that's what I was doing before) but seems trickier to implement in the _parseEscapedField function.

[2021-03-21 06:52] xsleonard opened #36 "trimStrategy does not trim characters inside of a quoted field"
## Describe the bug

trimStrategy characters are not trimmed from a quoted string field.

## To Reproduce

Use a CSVDecoder with `trimStrategy = .whitespaces` and a CSV like:

[code]

The Name field is parsed as " Foo " - spaces are not trimmed from the string.

## Expected behavior

Characters in trimStrategy trimmed from the result

## System
 - CodableCSV: 0.6.6

[2021-03-21 11:36] dehesa commented on #36
Hey @xsleonard, anything that is within quotes is considered "sacred"; Meaning that the `trimStrategy` doesn't affect its content. Therefore the library is working as expected. This way of working is specified in the [RFCT4180](https://tools.ietf.org/html/rfc4180) and follow other type of decoding libraries with similar escaping capabilities.

[2021-03-21 11:57] xsleonard commented on #36
OK thanks

[2021-03-21 11:57] #36 closed

[2021-03-23 17:39] dehesa commented on #35
Hey @xsleonard. I built some tests and tried your file and everything worked.

[code]

I also recreated the file in code in case you sent me an invalid file, but it also worked.

[code]

Are you sure the problem is not on your side. Maybe bad file data?

[2021-03-24 03:31] xsleonard commented on #35
Sorry, I described/diagnosed the problem wrong.

If you change `$0.delimiters.row = "\r\n"` to `$0.delimiters.row = "\n"` (or leave it unassigned to default to `\n`) you will see the error.

The error (`invalidInput`) occurs if the file has `\r\n` line endings but `$0.delimiters.row = "\n"`.  Previously the parser would leave a `\r` on the last field, but otherwise parse the file, so I'd trim cont

[2021-03-24 07:01] dehesa commented on #35
You are right. The error message doesn't provide correct information. I have changed it adding more useful data and push to master.

Regarding changing the default (which is the same problem you brought in #33): It has some side-effects, since \r may be meaningful to some users and they may want that data in their fields. That is why I make the user to explicitly change the configuration values. I

[2021-03-24 07:31] xsleonard commented on #35
I wouldn't make the `\r` in trimCharacters the default, besides your point, it also forces the use of CharacterSet which you've mentioned is a performance issue, so would impact those who need performance. Possibly it can support multiple row delimiters (\n and \r\n) or if delimiter is not explicitly configured, handle it with special-case code internally

[2021-03-24 08:01] dehesa commented on #35
I agree that having a special row delimiter that cover both `\n` and `\r\n` would be nice to have. I did add that to the [Roadmap](https://github.com/dehesa/CodableCSV/projects/1) the first time you brought it up. But I don't know when I will have time to implement it. If it is something that really bothers you, you can always try to implement it yourself 😅 The code that needs to be changed is pre

[2021-06-02 11:59] keyhan76 opened #38 "Value of type 'CSVReader' has no member 'columns'"
## Question
I'm trying to access columns property but it seems it's not available at all.

## Additional Context

        ` let result = try CSVReader(input: url) {
                $0.encoding = .utf8
                $0.delimiters.row = "\r\n"
                $0.headerStrategy = .firstLine
                $0.trimStrategy = .whitespaces
            }

           let columns = result.columns `

## S

[2021-06-02 12:20] #38 closed, assigned to dehesa

[2021-06-13 08:52] bcyng opened #39 "doesn't handle strings with ",""
given a row like:
20 May 2021,"some description","$1,090"

the "," in "$1,090" is treated as a delimiter when it shouldn't be because its between the quotes.

## To Reproduce
[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## System
 - OS: [e.g. macOS 11.2, iOS 14.4, Ubuntu 20.04]
 - CodableCSV: [e.g. 0.6.6]
   You can check this in your SPM `Package.s

[2021-06-13 09:52] #39 closed, assigned to dehesa

[2021-06-13 09:53] bcyng commented on #39
wasn't CodableCSV fault. was some other code causing this. Closing

[2021-06-25 21:52] MrTemple opened #40 "Option to escape Excel-unfriendly strings"
## Is your feature request related to a problem?
When a csv file contains a string with a leading `-`, `+`, or `=`, Excel will treat it as a formula field and throw an error.

## Describe the solution you'd like
Love an option to auto-detect these leading characters and escape them properly with a single leading single-quote `'`.

[2021-06-28 05:04] dehesa commented on #40
Hi @MrTemple,

Thank you for the suggestion. That is quite a neat feature. I have added tho the [backlog](https://github.com/dehesa/CodableCSV/projects/1). Currently, I am a bit busy with regular work, so I would encourage you to give it a try and implement it yourself, since I don't know when I can get to it, sorry.

In any case, thank you for the feedback.

[2021-06-29 17:15] MrTemple commented on #40
Thanks @dehesa.

Where do you suggest I start? Maybe in `_lowlevelWrite(field: String)`, somewhere either in 3.A or between 3.A and 3.B? (This is used for the Encoder too, right?) Using an option created in `Writer.Configuration` and flowing through `CSVWriter.settings`?

And do you think I'd need to add another char to the `result.reserveCapacity`?

Also, I haven't contributed to an open source p

[2021-08-27 22:22] dehesa commented on #35
This functionality is now supported by `CodableCSV`. Thanks @xsleonard for bringing this forward.

[2021-08-28 13:03] carlhung opened #41 "How can i install on linux?"
## Question
How can i install on linux? I can't make it work

## Additional Context
Add any other context about the question here (or delete this section if it is unnecessary).

## System
Delete section if not applicable
 - OS: Ubuntu 20.04
 - CodableCSV: [e.g. 0.6.7]

[2021-08-28 14:39] carlhung commented on #41
sorry, my bad. it works. sorry.

[2021-08-28 14:39] #41 closed, assigned to dehesa

[2022-02-17 12:27] MaxDesiatov commented on #34
Would it be possible to make this configurable? I don't want such error to be thrown as there's no way to pre-process a given CSV before parsing. What would be the best way to parse CSVs that don't always have the same amount of fields per row with this library?

[2022-02-17 18:27] PoshAlpaca opened #43 "Add support for field delimiter detection"
## Is your feature request related to a problem?
When using CodableCSV to load user-provided CSV files, one currently needs to ask the user which field delimiter is used in their file.

## Describe the solution you'd like
It would be nice if CodableCSV had an option to automatically infer the field delimiter from the provided file.

I saw that this feature is on the roadmap, along with row delimit

[2022-02-17 23:18] dehesa commented on #34
Hey @MaxDesiatov,
That could definitely be configurable. But in all honesty I am not sure when I can add such functionality, sorry. I will add it to the roadmap, though.

[2022-02-17 23:36] dehesa commented on #43
Hey @PoshAlpaca,

Delimiter inference is indeed something I always wanted to do and plan for, but never really got into doing it. To be honest, I haven't even begin to think how to approach the problem. So, if you want to research it and come up with a solution, I will be more than happy to review it.

The inference code is supposed to live [here](https://github.com/dehesa/CodableCSV/blob/master/s

[2022-03-07 10:22] PoshAlpaca opened #45 "Give CSVWriter.Configuration its own delimiter type which has no inference API"
## Is your feature request related to a problem?
It is currently possible to create an invalid `CSVWriter.Configuration` by supplying `nil` as a field- or row-delimiter. `nil` means "infer the delimiter from the CSV data", which only makes sense for the `CSVReader`. This error is reported at runtime.

## Describe the solution you'd like
I'd suggest having separate `Delimiter.Pair` types for `CSVRe

[2022-03-30 07:12] rmnblm opened #46 "Skip Column in Encoder (and Decoder)"
## Question
Hey @dehesa 👋

I am fairly new to this package and I have a question.
I want to skip a column during export and import.

**Export**: Given a `CSVEncoder` and `struct Pet`

[code]

Is it possible to skip a particular column, that is, encode only a single column "name" into a csv file?

**Import**: Given a `CSVDecoder`,

[code]

Can I import `data` into an array of `Pet`, if `data` does

[2022-04-04 16:53] LiveSurface opened #48 "Last column decodes as blank"
## Question
Hi all. Not sure if this is pilot error or if its a bug but it appears that the last column in our CSV consistently decodes to blank. We've got a correct header line and I'm using a .firstLine strategy. Have also confirmed that my data model has the same number of columns as vars. The only solution to fix this appears to be using a dummy column at the end.

## System
Delete section if

[2022-04-04 16:53] #48 closed, assigned to dehesa

[2022-04-04 16:55] joshdistler opened #49 "Last column decodes as blank"
Question
Hi all. Not sure if this is pilot error or if its a bug but it appears that the last column in our CSV consistently decodes to blank. We've got a correct header line and I'm using a .firstLine strategy. Have also confirmed that my data model has the same number of columns as vars. The only solution to fix this appears to be using a dummy column at the end.

System
OS: macOS 12.3.1, Xcode

[2022-04-05 21:03] ghost opened #50 "question about escaping"
## Question
With the default config, how can I escape commas and line returns within a field in order to ensure the resulting CSV is readable?

## Additional Context
I'm hacking together an app with Swift and Xcode and I'm a complete novice. To provide the app with some basic data I have provided it with csv files, which are parsed with CodableCSV. Many thanks for the package!

Using basic data it

[2022-07-14 19:04] joerohde opened #53 "Define headers, but suppress header output?"
## Question
In a large scale streaming situation, the csv is being used to 'chunk' rows.  I'd like to be able to pass in headers, but not send them to the CSV (since the header is already out there).

Is this possible?  I can't use CodingKeys - because they are already being used as 'string' for a JSON decoder.

I've been trying to find a form of 'Lazy' where I could 'flushEncoding()' which reset